body {
    padding: 0px;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.container {
    margin: 0;
    width: 25vh;
    height: 100vh;
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container div{
    color: white;
    text-decoration-style: none;
    text-emphasis: none;
}

.container div div{
    margin: 5px;
    padding: 7px;
    font-weight: 100;
}

div.container2 > div {
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
}

#d1 {
    background-color: red;
}
#d2 {
    background-color: orangered;
}
#d3 {
    background-color: orange;
}
#d4 {
    background-color: yellow;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: antiquewhite;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .navbar {
        justify-content: space-around;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}

.navbar div {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid blue;
}

#home {
    order: 4;
}

